%article.video_category
  - if @videos.present?
    %header
      %h3= "Found Videos"
    .videos.row
      - @videos.each do |video|
        .video.col-sm-2
          = link_to video do
            %img(src="http://localhost:3000/#{video.small_cover_url}")
  - else
    %header
      %h3 No Vidoes Found
